

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay img {
    position:relative;
    z-index: 999;
    left:-24%;
    top: -40px;
    border-radius: 5px;
}

.modal-content {
    width:60%;
    background-color: white;
    height:400px;
    border-radius: 20px;
    position:absolute;
    top:20%;
    left:20%
}

.content{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:50%;
    position:relative;
    left:36%;
    color:#555555
}

.close-button {
    position: absolute;
    top: 16px;
    right: -100px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.btn {
    background-color: #ff6f00;
    border:none;
    width:36%;
    display:flex;
    justify-content: center;
    height:40px;
    border-radius: 20px;
    align-items: center;
    color:white;
    gap:5%;
    margin-top:5%;
    cursor:pointer
}


